<!DOCTYPE html>

<html>

    <head>
        <title>My Valentine</title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>

    <body>
    <body bgcolor="white">
        <h1> <center> <font size =50 color="red"> My Dearest Piya </font></center> </h1>  <br>
        <h2>  <center><font size =30 color="green"> As we celebrate this day, I want to take a moment to remind you of how incredibly special you \nare to me. Nearly half a decade has passed since we first began this journey together, and \nevery moment, every challenge, every joy, and every memory has only made my love for you \ngrow stronger.

\nThrough the highs and lows, when I had nothing, you stood by me—offering your love, \nsupport, and unwavering belief in us. That has meant more than words can ever express. \nYou’ve been my rock, my light, and my greatest strength, and now, with everything that I have \nand all that I am, I want to be the same for you.</font></center> </h2> <br>
        <h3> <center> <b><i><font size =25 color="black"> \nI can't imagine spending another day without you by my side. You are the love of my life, and I \nwant to grow old with you, continue to face life's challenges with you, and share all of the \nbeautiful moments that the future holds. Together, we’ve built something so beautiful and \nunbreakable, and I can’t wait to see what comes next, as long as it’s with you.

\nThank you for being my everything. Happy Valentine’s Day, my love. Here’s to a lifetime more \ntogether. </font></i></b> </center> </h3> <br>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        
        
    </body>

</html>
